@use 'mediaqueries.scss' as m;
@use 'colors.scss' as c;

body {
    background: c.$black;
    color: c.$white;
    font-family: "Poppins", serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-size: 24px;
    font-weight: 600;

    @include m.for-large {  
        font-size: 34px;
    }
}

p {
    font-size: 20px;
    font-weight: 200;

    @include m.for-large {  
        font-size: 30px;
    }
}

p.txt-l {
    font-size: 20px;
    font-weight: 200;

    @include m.for-medium {  
        font-size: 30px;
    }

    @include m.for-large {  
        font-size: 50px;
    }
}

.btn {
    background: c.$red;
    border-radius: 5px;
    color: c.$white;
    display: inline-block;
    font-size: 20px;
    padding: 0.5em 1em;
    text-decoration: none;

    &:hover {
        background: c.$darkred;
    }
}

.row {
    img {
        max-width: 150px;
        width: 100%;

        @include m.for-medium { 
            max-width: none;
        }

        &.wide-sm {
            max-width: 150px;
        }
    }

    .col-1,
    .col-2,
    .col-3 {
        padding: 2em 0 6em;
    }

    .no-padding-sm {
        padding: 0;
    }

    @include m.for-medium { 
        display: flex;
        justify-content: space-between;

        &.align-vc {
            align-items: center;
        }

        .col-1,
        .col-2,
        .col-3 {
            padding: 2%;
        }

        .col-1 {
            width: 33.3333%
        }

        .col-2 {
            width: 66.6666%
        }

        .col-3 {
            width: 100%
        }
    }
}
