@use 'mediaqueries.scss' as m;

footer {
    font-weight: 200;
    line-height: 1em;
    padding: 40px;

    .content {
        display: flex;
        justify-content: space-between;
    }

    hr {
        border: 0;
        border-top: 1px solid #fff;
        margin: 0;
        width: 100%;
    }

    .social {
        align-content: flex-start;
        
        a {
            text-decoration: none;
        }

        img,
        svg {
            height: 20px;
            margin: 20px 14px 0 0;
        }

        @include m.for-large {  
            img,
            svg {
                height: 30px;
                margin: 30px 14px 0 0;
            }
        }
    }

    .copy {
        align-content: flex-end;
        font-size: 20px;

        @include m.for-large {  
            font-size: 30px;
        }
    }
}