@use 'mediaqueries.scss' as m;

.intro {
    background: #222344 url('../img/back.jpg') no-repeat left center;
    background-size: cover;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;

    @include m.for-medium {  
        min-height: 500px;
        height: 100vh;
    }

    @include m.for-large {  
        min-height: 750px;
    }

    img {
        height: 120px;
        left: 35px;
        position: absolute;
        top: 35px;
        z-index: 2;

        @include m.for-medium {  
            height: 200px;
        }

        @include m.for-large {  
            height: 300px;
            left: 60px;
        }
    }

    h1 {
        bottom: 40px;
        font-family: "Tiny5", serif;
        font-size: 60px;
        left: 40px;
        line-height: 0.8em;
        margin: 0;
        position: absolute;
        z-index: 2;

        @include m.for-medium {  
            font-size: 100px;
        }
    
        @include m.for-large {  
            font-size: 200px;
            left: 60px;
        }
    }

    .stars-3d {
        filter: blur(1px);
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.5s;
        width: 100%;
        z-index: 1;
    }
}