@use 'mediaqueries.scss' as m;

body {
    background: #000;
    color: #fff;
    font-family: "Poppins", serif;
    font-size: 10px;
    padding: 40px;
}

h1 {
    font-family: "Tiny5", serif;
    font-size: 100px;
    line-height: 1em;

    @include m.for-large {  
        font-size: 200px;
    }
}

p {
    font-size: 50px;
    font-weight: 200;
}

.main {
    img {
        height: 300px;
    }
}

.max-w {
    max-width: 1200px;
}
