.footer {
    padding: 2.4rem 2rem 1.4rem;
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.socialLinks {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.socialLinks a {
    display: inline-block;
    height: 1.5rem;
    margin: 0 0.5rem;
    filter: invert(1);
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 1.2rem 2rem;
    }

    .footerContainer {
        flex-direction: row;
    }
    .socialLinks {
        margin-bottom: 0;
    }
}
