.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    max-width: 100rem;
    margin: 0 auto;
    padding: 1.5rem;
}

.full {
    grid-column: 1 / -1;
}

.mainimg {
    max-width: 10rem;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 0.6rem;
}

.maincopy {
    padding: 0;
}

.main h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.introContainer {
    display: block;
}

@media screen and (min-width: 768px) {
    .main {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 3rem;
    }

    .mainimg {
        flex: 1;
        max-width: none;
        padding: 0;
    }

    .maincopy {
        flex: 2;
        padding: 2rem;
    }

    .main h2 {
        font-size: 3rem;
    }

    .introContainer {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}
