@use 'partials/fonts.scss';
@use 'partials/mediaqueries.scss' as m;

body {
    background: #000;
    color: #fff;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 50px;
    font-style: normal;
    line-height: 1.6em;
    padding: 40px;

    @include m.for-large {  
        font-size: 100px;
    }
}

h1 {
    font-family: "Tiny5", serif;
}

img {
    height: 300px;
}

.social {
    a {
        text-decoration: none;
    }

    img,
    svg {
        height: 50px;
        margin: 0 0 0 5px;
    }
}

.bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    .bg-layer {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .bg-img {
        background: #000 url('../img/back.jpg') no-repeat center center fixed;
        background-size: cover;
        z-index: 1;
    }

    .stars-3d {
        filter: blur(1px);
        z-index: 2;
    }
}
